NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBWd3eaEkjMfLE5z8SdBAcEXs8BvkpE67s
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=citylens-33677.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=citylens-33677
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=citylens-33677.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=35709826260
NEXT_PUBLIC_FIREBASE_APP_ID=1:35709826260:web:3656f728bcd3c37584b741
